@use '../_global/index' as g;

// 変数
$color-primary_btn-text: g.$palette-marigold_yellow;
$color-primary_btn-text_hover: g.$palette-resolution_blue;
$color-primary_btn-background: g.$palette-resolution_blue;
$color-primary_btn-background_hover: g.$palette-marigold_yellow;

$color-primary_btn_icon-border: g.$palette-marigold_yellow;
$color-primary_btn_icon-border_hover: g.$palette-resolution_blue;

/* ボタン ========== */
/* primary */
.primary-btn:not(:root) {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  font-size: 1.8rem;
  text-decoration: none;
  color: $color-primary_btn-text;
  border: none;
  border-radius: 100px;
  padding: 14px 40px;
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 280px;
  background-color: $color-primary_btn-background;
  transition: 0.3s background-color, 0.3s color, 0.3s border-color;
  &:after {
    @include g.mxArrowLine(
      12px,
      50%,
      24px,
      '',
      '',
      -6px,
      '',
      '',
      '',
      4px,
      $color-primary_btn_icon-border,
      225deg
    ) {
      transition: 0.3s border-color;
    }
  }
  &:hover {
    color: $color-primary_btn-text_hover;
    background-color: $color-primary_btn-background_hover;
    &:after {
      border-color: $color-primary_btn_icon-border_hover;
    }
  }
}
@include g.mxMediaQuery(g.$bp-sm) {
  .primary-btn:not(:root) {
    font-size: 2rem;
    padding: 16px 40px;
    max-width: 320px;
  }
}
