@use '../_global/index' as g;

/* 共通 ========== */
/* リセット */
* {
  box-sizing: border-box;
  &:before,
  &:after {
    box-sizing: border-box;
  }
}
html {
  width: 100%;
  height: 100%;
  line-height: 1;
  background: g.$Palette__blueCharcoal;
  color: g.$Palette__white;
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.6;
  overflow-y: auto;
  -webkit-text-size-adjust: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  font-family: g.$Font__main;
  font-weight: g.$Font__medium;
  @include g.mxGetFontSize(16);

  &.Body--fixed {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
html,
body,
.ScrollTarget {
  scroll-margin-top: 96px;

  @include g.mxMediaQuerySm {
    scroll-margin-top: 120px;
  }

  @include g.mxMediaQueryLg {
    scroll-margin-top: 136px;
  }
}
article,
aside,
details,
figcaption,
include,
footer,
header,
hgroup,
main,
nav,
section,
summary,
figure {
  display: block;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
p,
blockquote,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  -webkit-overflow-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-word-wrap: break-word;
  word-wrap: break-word;
  @include g.mxGetFontSize(16);
}
ul,
ol {
  list-style: none;
}
figcaption,
span {
  -webkit-overflow-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-word-wrap: break-word;
  word-wrap: break-word;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  color: g.$Palette__skyBlue;
  text-decoration: underline;
  cursor: pointer;
  transition: 0.3s color, 0.3s opacity, 0.3s background-color, 0.3s border-color;

  &:link,
  &:visited {
    color: g.$Palette__skyBlue;
    text-decoration: underline;
  }
  @include g.mxMediaHover() {
    &:hover,
    &:active {
      color: g.$Palette__heliotrope;
      text-decoration: underline;
    }
  }
}
button {
  cursor: pointer;
}
abbr[title] {
  border-bottom: 1px dotted;
}
i,
em,
address {
  font-style: normal;
}
b,
strong,
em {
  font-weight: g.$Font__bold;
}
dfn {
  font-style: italic;
}
mark {
  background-color: g.$Palette__white;
  color: g.$Palette__black;
}
small {
  font-size: 100%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  vertical-align: top;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
}
svg:not(:root) {
  overflow: hidden;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: g.$Font__main;
  @include g.mxGetFontSize(10);
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
@include g.mxMediaQuerySm {
  body {
    @include g.mxGetFontSize(18);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  dl,
  dt,
  dd,
  p,
  blockquote,
  ul,
  ol,
  li {
    @include g.mxGetFontSize(18);
  }
  p {
    @include g.mxGetFontSize(18);
  }
}

/* サイト内共通 ========== */
/* clearfix */
.Clearfix {
  display: block;
  &:before,
  &:after {
    content: '';
    display: block;
  }
  &:after {
    clear: both;
  }
}

/* obj */
.Obj--sm:not(:root) {
  display: none;
}
.Obj--md:not(:root) {
  display: none;
}
.Obj--lg:not(:root) {
  display: none;
}
.Obj--xl:not(:root) {
  display: none;
}
.Obj--xs:not(:root) {
  display: block;
}
@include g.mxMediaQueryXs {
  .Obj--xs:not(:root) {
    display: none;
  }
  .Obj--sm:not(:root) {
    display: block;
  }
}
@include g.mxMediaQuerySm {
  .Obj--sm:not(:root) {
    display: none;
  }
  .Obj--md:not(:root) {
    display: block;
  }
}
@include g.mxMediaQueryMd {
  .Obj--md:not(:root) {
    display: none;
  }
  .Obj--lg:not(:root) {
    display: block;
  }
}
@include g.mxMediaQueryLg {
  .Obj--lg:not(:root) {
    display: none;
  }
  .Obj--xl:not(:root) {
    display: block;
  }
}
