@use '../_global/index' as g;

// 変数
$color-form-background: #fff;
$color-form-background_active: #ff5757;
$color-form-background_disabled: #bcbcbc;
$color-form-background_readonly: #fff;
$color-form-background_error: #fdeef0;
$color-form-background_required: #fff;
$color-form-background_wrap: #fff;
$color-form-background_select_arrow: #4b4b4b;

$color-form-text: #4b4b4b;
$color-form-text_placeholder: #bcbcbc;
$color-form-text_supplement: #969696;
$color-form-text_disabled: #fff;
$color-form-text_error: #e92929;
$color-form-text_required: #dd0404;
$color-form-text_title: #969696;

$color-form-border: #bcbcbc;
$color-form-border_active: #ff5757;
$color-form-border_readonly: #f2f2f2;
$color-form-border_error: #e92929;
$color-form-border_required: #dd0404;

$color-form-btn-background: #ff5757;
$color-form-btn-background_hover: #ff5757;
$color-form-btn-background_disabled: #ececec;
$color-form-btn-text: #fff;
$color-form-btn-text_hover: #fff;
$color-form-btn-text_disabled: #6f6f6f;
$color-form-btn-border: #ff5757;
$color-form-btn-border_disabled: #ececec;

/* 入力項目共通 ========== */
form {
  margin: 0;
  padding: 0;
}
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
legend {
  border: 0;
  padding: 0;
}
optgroup {
  font-weight: 700;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  box-sizing: border-box;
  font-size: 1.6rem;
  font-family: inherit;
  line-height: normal;
  color: $color-form-text;
  outline: 0;
}
button,
input {
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: not-allowed;
}
input {
  &[type='text'],
  &[type='tel'],
  &[type='email'],
  &[type='date'],
  &[type='month'],
  &[type='search'],
  &[type='password'],
  &[type='reset'],
  &[type='number'] {
    -webkit-appearance: none;
    font-size: 1.6rem;
    padding: 0 8px;
    width: 100%;
    border: 2px solid $color-form-border;
    background-color: $color-form-background;
    height: 36px;
    line-height: 1.6;
    transition: 0.3s border-color;
    border-radius: 2px;
  }
  &:focus {
    outline: none;
    border-color: $color-form-border_active;
  }
  &:hover {
    border-color: $color-form-border_active;
  }
  &:disabled {
    background-color: $color-form-background_disabled;
    cursor: not-allowed;
    color: $color-form-text_disabled;
    &:hover {
      border-color: $color-form-background_disabled;
    }
  }
  &[type='file'] {
    &:disabled {
      cursor: not-allowed;
    }
  }
  &[readonly] {
    background-color: $color-form-background_readonly;
    border-color: $color-form-border_readonly;
    pointer-events: none;
    &:hover {
      background-color: $color-form-background_readonly;
      border-color: $color-form-border_readonly;
      pointer-events: none;
    }
  }
  &[type='date'],
  [type='month'] {
    height: 36px;
  }
  &[type='number'] {
    -moz-appearance: textfield;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      margin: 0;
      -webkit-appearance: none;
      height: auto;
    }
  }
  &[type='button'],
  &[type='submit'] {
    cursor: pointer;
    transition: 0.3s background-color, 0.3s color;
    &:hover {
      background-color: $color-form-btn-background_hover;
      border-color: $color-form-btn-text_hover;
    }
    &:disabled {
      background-color: $color-form-background_disabled;
      cursor: not-allowed;
      color: $color-form-text_disabled;
      border-color: $color-form-background_disabled;
      &:hover {
        border-color: $color-form-background_disabled;
      }
    }
  }
}
select,
textarea {
  &:focus {
    outline: none;
    border-color: $color-form-border_active;
  }
  &:hover {
    border-color: $color-form-border_active;
  }
  &:disabled {
    background-color: $color-form-background_disabled;
    cursor: not-allowed;
    color: $color-form-text_disabled;
    &:hover {
      border-color: $color-form-background_disabled;
    }
  }
  &[readonly] {
    background-color: $color-form-background_readonly;
    border-color: $color-form-border_readonly;
    pointer-events: none;
    &:hover {
      background-color: $color-form-background_readonly;
      border-color: $color-form-border_readonly;
      pointer-events: none;
    }
  }
}
select {
  padding: 0 28px 0 8px;
  height: 36px;
  min-height: 36px;
  background-color: $color-form-background;
  border-radius: 2px;
  border: 2px solid $color-form-border;
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  transition: 0.3s border-color;
  background-image: linear-gradient(
      45deg,
      rgba($color-form-background_select_arrow, 0) 50%,
      $color-form-background_select_arrow 50%
    ),
    linear-gradient(
      135deg,
      $color-form-background_select_arrow 50%,
      rgba($color-form-background_select_arrow, 0) 50%
    );
  background-position: right 13px center, right 8px center;
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
  &::-ms-expand {
    display: none;
  }
  &:focus {
    outline: none;
  }
  &:disabled {
    cursor: not-allowed;
    &:hover {
      cursor: not-allowed;
    }
  }
  &:focus,
  &:hover {
    background-image: linear-gradient(
        45deg,
        rgba($color-form-background_active, 0) 50%,
        $color-form-background_active 50%
      ),
      linear-gradient(
        135deg,
        $color-form-background_active 50%,
        rgba($color-form-background_active, 0) 50%
      );
  }
}
textarea {
  -webkit-appearance: none;
  font-size: 1.6rem;
  padding: 8px;
  width: 100%;
  height: 160px;
  border: 2px solid $color-form-border;
  background-color: $color-form-background;
  line-height: 1.6;
  transition: 0.3s border-color;
  border-radius: 2px;
  box-sizing: border-box;
  resize: vertical;
}

::placeholder {
  color: $color-form-text_placeholder;
}
::-webkit-input-placeholder {
  color: $color-form-text_placeholder;
}
::-moz-placeholder {
  color: $color-form-text_placeholder;
}

input::placeholder,
textarea::placeholder {
  color: $color-form-text_placeholder;
  &::-webkit-input-placeholder {
    color: $color-form-text_placeholder;
  }
  &:-moz-placeholder {
    color: $color-form-text_placeholder;
  }
  &::-moz-placeholder {
    color: $color-form-text_placeholder;
  }
  &:focus {
    &::placeholder {
      color: transparent;
    }
    &::-webkit-input-placeholder {
      color: transparent;
    }
    &:-moz-placeholder {
      color: transparent;
    }
    &::-moz-placeholder {
      color: transparent;
    }
  }
}

input[type='radio'].form-rdo,
input[type='checkbox'].form-chk {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  margin: 0;
}
.form-rdo-tx-box,
.form-chk-tx-box {
  display: block;
  min-height: 36px;
  border: none;
  position: relative;
  transition: border-color 0.3s, background-color 0.3s, color 0.3s;
  font-size: 1.6rem;
}
.form-rdo-tx-box {
  padding: 6px 28px 6px 28px;
}
.form-chk-tx-box {
  padding: 6px 16px 6px 28px;
}
.form-rdo-faker {
  display: block;
  width: 20px;
  height: 20px;
  background-color: $color-form-background;
  border: 2px solid $color-form-border;
  border-radius: 20px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  transition: all 0.3s;
  &:after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-radius: 10px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: background-color 0.1s ease-in-out;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
.form-rdo {
  &:hover {
    ~ .form-rdo-tx-box {
      .form-rdo-faker {
        border-color: $color-form-border_active;
      }
    }
  }
  &:checked {
    ~ .form-rdo-tx-box {
      .form-rdo-faker {
        border-color: $color-form-border_active;
        &:after {
          background-color: $color-form-background_active;
        }
      }
    }
  }
  &:disabled {
    ~ .form-rdo-tx-box {
      cursor: not-allowed;
      .form-rdo-faker {
        background-color: $color-form-background_disabled;
        border-color: $color-form-border;
      }
    }
  }
}
.form-chk-faker {
  display: block;
  width: 20px;
  height: 20px;
  background-color: $color-form-background;
  border: 2px solid $color-form-border;
  border-radius: 2px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  transition: background-color 0.3s, border-color 0.3s;
  &:after {
    content: '';
    width: 10px;
    height: 6px;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
    display: block;
    position: absolute;
    margin-top: -2px;
    top: 50%;
    left: 3px;
    transition: border-color 0.3s;
    transform: translate(0, -50%) rotate(-45deg);
  }
}
.form-chk {
  &:hover {
    ~ .form-chk-tx-box {
      .form-chk-faker {
        border-color: $color-form-border_active;
      }
    }
  }
  &:checked {
    ~ .form-chk-tx-box {
      .form-chk-faker {
        border-color: $color-form-border_active;
        background-color: $color-form-background_active;
        &:after {
          border-bottom-color: $color-form-background;
          border-left-color: $color-form-background;
        }
      }
    }
  }
  &:disabled {
    ~ .form-chk-tx-box {
      cursor: not-allowed;
      .form-chk-faker {
        background-color: $color-form-background_disabled;
      }
    }
  }
}

/* 入力部品 ========== */
.form-wrap {
  padding: 0;
  margin: 24px auto 0;
  max-width: 960px;
}
.form-input-box {
  background-color: $color-form-background_wrap;
  border-radius: 16px;
  padding: 16px;
}
.form-box {
  .form-set {
    &:first-of-type {
      .form-ttl {
        margin-top: 0;
      }
    }
  }
}
.form-set {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}
.form-ttl {
  display: flex;
  align-items: center;
  margin: 16px 0 0;
  width: 100%;
  font-weight: 700;
  font-size: 1.6rem;
  color: $color-form-text_title;
}
.form-required {
  display: inline-block;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  font-size: 1.2rem;
  font-weight: 400;
  border: 1px solid $color-form-border_required;
  color: $color-form-text_required;
  background-color: $color-form-background_required;
  line-height: 1;
  white-space: nowrap;
}
.form-contents {
  margin: 8px 0 0;
  width: 100%;
  font-size: 1.6rem;
}
.form-lb {
  cursor: pointer;
  display: block;
  position: relative;
  &.is-disabled {
    cursor: not-allowed;
  }
}
.form-items {
  display: flex;
  flex-wrap: wrap;
  .form-item {
    &:first-of-type {
      margin-top: 0;
    }
  }
}
.form-item {
  margin: 8px 0 0;
  width: 100%;
}
.form-tel-box {
  .form-lb {
    max-width: 280px;
  }
}
.form-slc-box {
  .form-lb {
    max-width: 100%;
    display: inline-block;
  }
}
.form-name {
  + .form-name {
    margin-top: 8px;
  }
}
.form-name-contents {
  .form-lb {
    display: flex;
    align-items: center;
  }
  .form-lb-tx {
    margin-right: 16px;
    flex-shrink: 1;
    font-size: 1.6rem;
  }
  .form-lb-contents {
    width: 100%;
  }
}
.form-supplement {
  display: block;
  margin: 4px 0 0;
  font-size: 1.4rem;
  color: $color-form-text_supplement;
  font-weight: 400;
  font-style: normal;
}
@include g.mxMediaQuery(g.$bp-sm) {
  .form-input-box {
    padding: 24px;
  }
  .form-ttl {
    font-size: 1.8rem;
    margin-top: 24px;
  }
  .form-item {
    width: auto;
    margin: 0 8px 0 0;
  }
  .form-name-inner {
    display: flex;
  }
  .form-name {
    width: 50%;
    + .form-name {
      margin-top: 0;
      margin-left: 24px;
    }
  }
}
@include g.mxMediaQuery(g.$bp-md) {
  .form-input-box {
    padding: 32px;
  }
  .form-ttl {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 16px 24px;
    width: 30%;
  }
  .form-contents {
    margin: 0;
    padding: 16px 24px;
    width: 70%;
  }
  .form-btm-next-wrap {
    padding: 0 100px;
  }
  .form-btn-back {
    margin: 0;
    position: absolute;
    top: 50%;
    margin-top: -28px;
    left: 0;
  }
}
@include g.mxMediaQuery(g.$bp-lg) {
  .form-input-box {
    padding: 40px;
  }
}

/* エラー ===== */
.form-error {
  border: 2px solid $color-form-border_error;
  width: 100%;
  background-color: $color-form-background_error;
  padding: 8px 16px;
  box-sizing: border-box;
  + .form-set {
    margin-top: 16px;
  }
}
.form-error-mes-box {
  margin-top: 16px;
  border: 2px solid $color-form-border_error;
  background-color: $color-form-background_error;
  padding: 8px;
  box-sizing: border-box;
}
.form-error-mes {
  margin: 0;
  font-size: 1.6rem;
  color: $color-form-text_error;
  font-weight: 700;
}
.form-error-msg {
  margin: 4px 0 0;
  font-size: 1.6rem;
  color: $color-form-text_error;
}
.form-error-field-name {
  font-weight: 700;
}
input {
  &[type='text'],
  &[type='tel'],
  &[type='email'],
  &[type='date'],
  &[type='month'],
  &[type='search'],
  &[type='password'],
  &[type='button'],
  &[type='submit'],
  &[type='reset'],
  &[type='number'] {
    &.is-error {
      background-color: $color-form-background_error;
      border-color: $color-form-border_error;
      &:hover {
        background-color: $color-form-background_error;
        border-color: $color-form-border_error;
      }
    }
  }
}
select,
textarea {
  &.is-error {
    background-color: $color-form-background_error;
    border-color: $color-form-border_error;
    &:hover {
      background-color: $color-form-background_error;
      border-color: $color-form-border_error;
    }
  }
}
.form-rdo.is-error {
  ~ .form-rdo-tx-box {
    .form-rdo-faker {
      background-color: $color-form-background_error;
      border-color: $color-form-border_error;
    }
  }
}
.form-chk.is-error {
  ~ .form-chk-tx-box {
    .form-chk-faker {
      background-color: $color-form-background_error;
      border-color: $color-form-border_error;
    }
  }
}
