// Variables ==========

// Fonts ========
// Family ======
// Default
$font-main: 游明朝, 'Yu Mincho', YuMincho, 'Hiragino Mincho ProN', 'Hiragino Mincho Pro', HGS明朝E, serif, Times,
  メイリオ, Meiryo;

// Weight
$font-medium: 500;
$font-bold: 700;

// Size
$font-size: 16;

// Blakepoints ========
$blakepoint-xs: 321px;
$blakepoint-sm: 576px;
$blakepoint-md: 768px;
$blakepoint-lg: 992px;
$blakepoint-xl: 1200px;
$blakepoint-xxl: 1400px;

// Color ========
$palette-white: #fff;
$palette-black: #000;

$palette-blue-charcoal: #000911;

$palette-silver-chalice: #a6a6a6;

$palette-sky-blue: #73d1ed;
$palette-chambray: #2d507b;

$palette-heliotrope: #e050f3;

$palette-twitter: #1c9cef;
$palette-facebook: #1877f2;
$palette-line: #00b900;

$gradation-primary: $palette-heliotrope 0, $palette-sky-blue 100%;

// Z Index ========
// Common ======
$z-index-minus-1: -1;
$z-index-1: 1;
$z-index-2: 2;
$z-index-3: 3;
$z-index-4: 4;
$z-index-5: 5;

// Modal ======
$z-index-modal-1: 20000;
$z-index-modal-2: 20100;

// Header ======
$z-index-header-1: 10000;
$z-index-header-2: 10100;
$z-index-header-3: 10200;
$z-index-header-4: 10300;

// Footer ======
$z-index-footer-1: 8000;

// Opacity ========
$opacity-hover: 0.6;

// Scale ========
$scale-hover: 1.1;
