// Variables ==========

// Fonts ========
// Family ======
// Default
$Font__main: 游明朝, 'Yu Mincho', YuMincho, 'Hiragino Mincho ProN', 'Hiragino Mincho Pro', HGS明朝E, serif, Times,
  メイリオ, Meiryo;

// Weight
$Font__medium: 500;
$Font__bold: 700;

// Size
$Font__size: 16;

// Blakepoints ========
$Bp--xs: 321px;
$Bp--sm: 576px;
$Bp--md: 768px;
$Bp--lg: 992px;
$Bp--xl: 1200px;
$Bp--xxl: 1400px;

// Color ========
$Palette__white: #fff;
$Palette__black: #000;

$Palette__blueCharcoal: #000911;

$Palette__skyBlue: #73d1ed;

$Palette__heliotrope: #e050f3;

$Palette__twitter: #1c9cef;
$Palette__facebook: #1877f2;
$Palette__line: #00b900;

$Gradation__primary: $Palette__skyBlue 0, $Palette__heliotrope 100%;

// Z Index ========
// Common ======
$ZIndex--1: 1;
$ZIndex--2: 2;
$ZIndex--3: 3;
$ZIndex--4: 4;
$ZIndex--5: 5;

// Modal ======
$ZIndex__modal--1: 20000;
$ZIndex__modal--2: 20100;

// Header ======
$ZIndex__header--1: 10000;
$ZIndex__header--2: 10100;
$ZIndex__header--3: 10200;
$ZIndex__header--4: 10300;

// Footer ======
$ZIndex__footer--1: 8000;

// Opacity ========
$Opacity__main: 0.6;

// Scale ========
$Scale__hover: 1.1;
